
        /* Para que al poner los div al 100% y eso no me alargue la pagina */
        *{
            box-sizing: border-box
        }

        /* Para que la pagina no tenga margen por defecto */
        body{
            margin: 0px;
            padding: 0px;
            background-color: rgb(40, 40, 40);
        }

        /* Este es el estilo del div de arriba del todo de la pagina */
        .Arriba{
            background-color: rgb(173, 140, 189);
            border-bottom: 4px solid rgb(146, 83, 158);
            color: black;
            padding: 20px;
            width: 100%;
            position: fixed;

            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            margin: 0;
            z-index: 1000;
        }

        .selector{
            border-bottom: 4px solid rgb(146, 83, 158);
            color: black;
            padding: 20px;
            width: 100%;

            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            margin: 0;
        }

        .section{
            margin-bottom: 50px;
            padding-top: 100px;
            clear: both;
        }

        /* Esto sirve para los botones tipo a, simplemente al hacer un a y ponerle de clase boton, los hace como los de arriba */
        a.Boton{
            background-color: rgb(215, 178, 233);
            color: black;
            padding: 15px 25px;
            border-radius: 40px;
            border: 4px solid rgb(146, 83, 158);
            font-size: 17px;
            width: auto;
            text-align: center;
            flex: 1;
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
        }

        .nota{
            background-color: green;
            color: rgb(233, 233, 233);
            padding: 15px 25px;
            border-radius: 40px;
            border: 4px solid rgb(0, 255, 13);
            font-size: 17px;
            width: auto;
            text-align: center;
            flex: 1;
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
        }

        /* Este es el estilo del div por defecto de la página */
        .Normal{
            background-color: transparent;
            color: rgb(0, 255, 21);
            padding: 80px;
            padding-top: 100px;
            width: 100%;
            margin: 0;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 17px;
            }

        .enlace{
            color: green;
        }

        .volver{
            position: fixed;
            bottom: 10px;
            right: 10px;
        }

        /* Esto hace que todo lo que tenga de Style parpadear, en un 50% de animacion este visible, y el otro 50% no */
        @keyframes parpadear {
            0%, 50% { opacity: 1; }
            50.01%, 100% { opacity: 0; }
        }

        /* Esto hace que todo lo que tenga class=parpadeo, tenga la animación de parpadear de manera infinita */
        .parpadeo {
            animation: parpadear 1s steps(1, start) infinite;
        }

        table.personal{
            border: 2px solid green;
            th.abajo{
                border-bottom: 2px solid green;
            }
            background-color: rgb(0, 53, 16);
        }

        table.products
        {
            border: 2px solid green;
            max-width: 50%;
            th,td{border: 1px solid green;}
            background-color: rgb(0, 53, 16);
            border-collapse: collapse;
        }

        td.right{ 
            border-right: 2px solid green; 
        }